{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center; font-family: 'Times New Roman';">WELCOME :)</h1>
    <h1>  {% block title %} <span style="color: red;">WRITE YOUR MESSAGE</span> {% endblock %}</h1>
    {% for message in messages %}
        <div class='message'>
            <h3><span style="color: seagreen;">TITLE : </span> {{ message['title'] }}</h3>
            <p><span style="color: greenyellow;">MESSAGE : </span>{{ message['content'] }}</p>
        </div>
    {% endfor %}
{% endblock %}